<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<h1><%=@cocktail.name %></h1>
<% @doses.each do |dose|%>
  <h1><%= dose.description %></h1>
  <h1><%= dose.ingredient.name %></h1>
  <%= button_to "Remove Ingredient", cocktail_dose_path(@cocktail, dose), method: :delete %>
<% end%>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add Ingredient", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to Cocktails list", cocktails_path(@cocktail) %>
<%= button_to "Remove Cocktail", cocktail_path(@cocktail), method: :delete %>
